.cloud {
  &-tags {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
  }

  &-tag {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    border-radius: $radius;
    padding: $space-small/2 $space-small;
    background: $primary;
    font-size: $size-7;
    color: $on-primary;

    &:hover {
      background: dp($primary, 9%);
      box-shadow: $box-shadow-4dp;
    }
  }
}
