.not-found {
  margin: 5rem 0 10rem 18rem;
  font-family: $family-monospace;
  text-align: center;
}

.error {
  &-emoji {
    color: $text-strong;
    font-size: $size-1;
  }

  &-text {
    font-size: $size-5;
  }

  &-link {
    margin-top: 2rem;
    font-size: $size-6;
    color: $primary;
  }
}
