.header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 18rem;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  background-color: $sidebar-background;
  box-shadow: $box-shadow-4dp;
  transition: $transition;

  @media screen and (max-width: $tablet) {
 //   position: -webkit-sticky;
    position: fixed;
    width: 100%;
    bottom: unset;
    z-index: 100000000;
    height: 190px;
  }

  @media (min-width: $tablet + 1px ) and (max-width: $desktop) {
    width: 15rem;
  }
}

.header-shrunk {
    height: 67px;

}

.header-hidden {
    top: -67px;
}

.logo {
  border-radius: 20%;
  border: 4px solid $on-surface;
  transition: $transition;

  &:hover {
    border-radius: 50%;
    box-shadow: 0 1px 4px $box-shadow-2dp;
  }

  @media screen and (max-width: $tablet) {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    margin-top: 0;
    border: $border;
  }
}

.title {
  font-size: $size-4;
  font-family: $family-roboto;
  font-weight: $weight-bold;
  margin: 1rem auto 0rem auto;

  @media screen and (max-width: $tablet) {
    margin: 0 auto;
  }

  a {
    color: $text-strong;
  }
}

.subtitle {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: $text;
  opacity: 0.8;
}

// Sidebar on desktop and header on mobile
.menu {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }

  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {
    padding: .5rem 0;

    a {
      font-weight: $weight-normal;
      opacity: .8;
      color: $text;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }

    &.is-active {
      a {
        color: $text-strong;
        opacity: 1;
        font-weight: bold;
      }
    }
  }

  &-toggle {
    border: none;
    outline: none;
    font-size: $size-3;
    background-color: transparent;
    color: $on-surface;
    position: absolute;
    top: 1rem;
    right: 1rem;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

// Sidebar on mobile
.sidebar {
  background-color: $sidebar-background;
  width: 100vw;

  @media screen and (min-width: $phone) {
    width: 50vw;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-menu {
    text-align: right;
    padding: 16px;
  }

  &-item {
    font-size: $size-3;
    padding: 30px 35px 30px 25px;
    border-top: solid 1px $border-color;

    &:hover {
      background-color: $on-surface;
    }
  }

  &-icon {
    border: none;
    outline: none;
    color: $on-surface;
    background-color: transparent;
    font-family: $family-sans-serif;
    font-weight: 100;
    font-size: $size-3;
  }

  &-link {
    color: $on-surface;
    font-weight: $weight-normal;
  }
}

// Social networks
.social {
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: $desktop) {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
    }
  }

  &-item {
    display: inline-block;
    margin: 0 0.2rem;

    a {
      color: $on-surface;
      font-weight: normal;
    }
  }
}
