// Style for list template
.entry {
  color: $text-strong;

  &-list {
    background-color: $bg;

    @media screen and (max-width: $tablet) {
      padding-top: $space-large;
    }
  }

  &-single {
    line-height: 1.8;
    margin-bottom: 22px;
    background-color: dp($surface, 5%);
    box-shadow: $box-shadow-1dp;
    border-radius: $radius-small;
    border: solid dp($surface, 5%) 1px;
    transition: $transition;

    &:hover {
      box-shadow: $box-shadow-4dp;
      background-color: dp($surface, 12%);
      border: solid white 1px;
    }
  }

  &-cover {
    color: $text;
    max-width: 100%;
    width: 100%;
    height: 200px;
    border-radius: $radius-small $radius-small 0 0;
    object-fit: cover;
    box-shadow: none;

    @media screen and (max-width: $phone) {
      height: 150px;
    }
  }

  &-title {
    color: $text-strong;
    margin: 0;
    padding: $space-normal $space-large 0;
  }

  &-link {
    color: $text-link;
    font-weight: $weight-normal;

    &:hover {
      opacity: 1;
    }
  }

  &-summary {
    color: $text;
    padding: 0 $space-large;
    text-align: justify;
    max-height: 4rem;
    overflow: hidden;
    margin: 0.2rem 0 0.5rem 0;
  }

  &-footer {
    color: $primary-text-strong;
    margin: 0 $space-large;
    padding: $space-small 0 $space-normal 0;
    font-weight: $weight-bold;
    border-top: $border;
    display: flex;
    justify-content: space-between;
  }

  &-meta {
    margin: 0;
    font-size: $size-7;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $text-strong;
    font-weight: $weight-bold;
  }

  &-time {
    color: $text-strong;
    font-weight: $weight-bold;

    &:after {
      content: '';
      border-right: solid $border-color 2px;
      margin-left: 10px;
      margin-right: 8px;
    }
  }
}
