.search {
  margin-left: auto;
  position: relative;

  i {
    position: absolute;
    left: 0.3em;
    top: 1px;
    z-index: 40;
  }

  input {
    margin: 0;
    background: transparent;
    border: none;
    color: $text;
    padding-left: 0.75em;
    width: 70%;
    background-color: dp($surface, 7%);
    font-family: $family-roboto;
    border-radius: 6px;
    border: $border;
    transition: $transition;

    &:hover, &:focus {
      background-color: dp($surface, 12%);
      border: solid white 2px;
    }
  }
}
