.search {
        margin-left: auto;
        position: relative;

        i {
            position: absolute;
            left: 0.3em;
            top: 1px;
            z-index: 40;
        }

        input {
            margin: 0;
            background: transparent;
            border: none;
            color: $text;
            padding-left: 0.75em;
            width: 70%;
            background-color: rgba($dark-blue-light, 0.9);
            font-family: $family-roboto;
            border-radius: 6px;

            &:hover, &:focus {
                background-color: rgba($dark-blue-light, 0.5);
                border: none;
            }
        }

}
