.chroma {
	color: #8a8a8a;
	background-color: #1c1c1c;
	.x {
		color: #d75f00;
	}
	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		overflow: auto;
		display: block;
	}
	.hl {
		display: block;
		width: 100%;
		background-color: #ffffcc;
	}
	.lnt {
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #454545;
	}
	.ln {
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #454545;
	}
	.k {
		color: #5f8700;
	}
	.kc {
		color: #d75f00;
	}
	.kd {
		color: #0087ff;
	}
	.kn {
		color: #d75f00;
	}
	.kp {
		color: #5f8700;
	}
	.kr {
		color: #0087ff;
	}
	.kt {
		color: #af0000;
	}
	.nb {
		color: #0087ff;
	}
	.bp {
		color: #0087ff;
	}
	.nc {
		color: #0087ff;
	}
	.no {
		color: #d75f00;
	}
	.nd {
		color: #0087ff;
	}
	.ni {
		color: #d75f00;
	}
	.ne {
		color: #af8700;
	}
	.nf {
		color: #0087ff;
	}
	.nt {
		color: #0087ff;
	}
	.nv {
		color: #0087ff;
	}
	.s {
		color: #00afaf;
	}
	.sa {
		color: #00afaf;
	}
	.sb {
		color: #4e4e4e;
	}
	.sc {
		color: #00afaf;
	}
	.dl {
		color: #00afaf;
	}
	.sd {
		color: #00afaf;
	}
	.s2 {
		color: #00afaf;
	}
	.se {
		color: #af0000;
	}
	.sh {
		color: #00afaf;
	}
	.si {
		color: #00afaf;
	}
	.sx {
		color: #00afaf;
	}
	.sr {
		color: #af0000;
	}
	.s1 {
		color: #00afaf;
	}
	.ss {
		color: #00afaf;
	}
	.m {
		color: #00afaf;
	}
	.mb {
		color: #00afaf;
	}
	.mf {
		color: #00afaf;
	}
	.mh {
		color: #00afaf;
	}
	.mi {
		color: #00afaf;
	}
	.il {
		color: #00afaf;
	}
	.mo {
		color: #00afaf;
	}
	.ow {
		color: #5f8700;
	}
	.c {
		color: #4e4e4e;
	}
	.ch {
		color: #4e4e4e;
	}
	.cm {
		color: #4e4e4e;
	}
	.c1 {
		color: #4e4e4e;
	}
	.cs {
		color: #5f8700;
	}
	.cp {
		color: #5f8700;
	}
	.cpf {
		color: #5f8700;
	}
	.gd {
		color: #af0000;
	}
	.ge {
		font-style: italic;
	}
	.gr {
		color: #af0000;
		font-weight: bold;
	}
	.gh {
		color: #d75f00;
	}
	.gi {
		color: #5f8700;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: #0087ff;
	}
}
