<div id="commento"></div>
{{ $cssOpts := (dict "targetPath" "css/commento.css" "outputStyle" "compressed") }}
{{ $commento := resources.Get "scss/commento.scss" | resources.ExecuteAsTemplate "commento.main.css" . | toCSS $cssOpts | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $commento.RelPermalink }}" integrity="{{ $commento.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ $commentojs := slice (resources.Get "js/commento.js") | resources.Concat "js/commento.js" | resources.Minify | fingerprint }}
<script type="text/javascript" integrity="{{ $commentojs.Data.Integrity }}" src="{{ $commentojs.Permalink }}"></script>
