<div id="commento"></div>
{{ $cssOpts := (dict "targetPath" "css/commento.css" "outputStyle" "compressed") }}
{{ $styles := resources.Get "scss/commento.scss" | resources.ExecuteAsTemplate "style.main.css" . | toCSS $cssOpts | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />

{{ $commento := resources.Get "js/commento.js" }}
{{ $js := slice $commento | resources.Concat "js/commento.js" | resources.Minify | fingerprint }}
<script type="text/javascript" integrity="{{ $js.Data.Integrity }}" src="{{ $js.Permalink }}"></script>

