{{ $logo := "/img/avatar.jpg" }}
{{ $description := .Description | default .Summary }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  "image": [
    "{{ if .Params.cover }}{{ .Params.cover | absURL }}{{ else }}{{ $logo | absURL }}{{ end }}"
  ],
  "datePublished": "{{ .Date | dateFormat "2006-01-02" }}",
  "author": {
    "@type": "Person",
    "name": "{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "chabad360.me",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ $logo | absURL }}"
    }
  },
  "description": "{{ $description | plainify }}"
}
</script>
