<sidebar id="sidebar" class="sidebar" layout="nodisplay" hidden="true">
  <ul class="sidebar-list">
    <li class="sidebar-menu"><button class="sidebar-icon" onclick="closeSidebar()">X</button></li>
    {{ $type := .Type }}
    {{ $kind := .Kind }}
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="sidebar-link" href="{{ .URL }}">
      <li class="sidebar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}">{{ .Name }}</li>
    </a>
    {{ end }}
  </ul>
</sidebar>
<div class="sidebar-mask" id="sidebar-mask" hidden="true" onclick="closeSidebar()"></div>
<script type="text/javascript">function openSidebar(){var e=document.getElementById("sidebar"),t=document.getElementById("sidebar-mask");e.removeAttribute("hidden","");e.setAttribute("open",""),t.removeAttribute("hidden",""),t.setAttribute("open","")}function closeSidebar(){var e=document.getElementById("sidebar"),t=document.getElementById("sidebar-mask");e.removeAttribute("open",""),t.removeAttribute("open","");setTimeout(function(){t.setAttribute("hidden","true");},240);}</script>

