{{ with .Site.Params.social }}
  <ul class="social-list" id="social">
    {{ range sort .}}
      {{ if .icon }}
        <li class="social-item">
          <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
            <i class="{{ .icon }}" aria-hidden="true"></i>
          </a>
        </li>
      {{ else }}
        <li class="social-item">
          <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}