{{ define "main" }}
  <section class="main post-detail">
    <header class="post-header">
      {{ if isset .Params "cover" }}
      <img alt="{{ .Title }}"
        layout="fixed-height"
        class="post-cover"
        src="{{ .Params.cover }}">
      </img>
      {{ else }}
      </br>
      {{ end }}
      <h1 class="post-title">{{ .Title }}</h1>
      <p class="post-subtitle">{{ .Summary | plainify | htmlUnescape }}</p>
      <p class="entry-meta"><span class="entry-time">{{ .Date.Format "Jan 2, 2006" }}</span> {{ .ReadingTime }} min read</p>
    </header>
    <article class="post-content">
    {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}&nbsp;<a class="anchor" href="#${2}"><i class="fas fa-link fa-xs"></i></a> ${3}` | safeHTML }}</article>
    <footer class="post-footer">
      {{ partial "tags.html" . }}
      {{ if ( .Params.showComments | default true ) }}
        {{ partial "commento.html" . }}
      {{ end }}
    </footer>
  </section>
{{ end }}
