{{ define "main" }}
  <section class="main post-detail">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <p class="entry-meta"><span class="entry-time">{{ .Date.Format "Jan 2, 2006" }}</span> {{ .ReadingTime }} min read</p>
    </header>
    {{ partial "adsense.html" . }}
    <article class="post-content">{{ .Content }}</article>
    <section class="post-content">
      <h2>Posts</h2>
      <ul>
        {{ $project := ( cond ( isset .Params "project" ) .Params.project .Title  ) }}
        {{ range where ( where .Site.Pages "Type" "post") ".Params.project" $project }}
          {{ .Render "summary" }}
        {{ end }}
      </ul>
    </section>
    <footer class="post-footer">
      {{ if isset .Params "tags" }}
      <ul class="post-tags">
        {{ range $tag := .Params.tags }}
          <a href="/tags/{{ $tag | urlize }}"><li class="post-tag"><span class="tag">{{ $tag | title }}</span></li></a>
        {{ end }}
      </ul>
      {{ end }}
      {{ if ( .Params.showComments | default true ) }}
        {{ partial "commento.html" . }}
      {{ end }}
    </footer>
  </section>
{{ end }}
